@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-green: #0b1315;
  --gold: #c9ab81;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-green);
  color: var(--gold);
}
