@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-green: #0b1315;
  --gold: #b59f73;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--dark-green);
  color: var(--gold);
}
